/* 基础字体 */
@font-face {
  font-family: "MiSans";
  src: url('../plugins/siyuan-ttf-MiSans_SC-and-Twemoji/MiSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MiSans";
  src: url('../plugins/siyuan-ttf-MiSans_SC-and-Twemoji/MiSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Twemoji */
@font-face {
  font-family: "Twemoji";
  src: url("../plugins/siyuan-ttf-MiSans_SC-and-Twemoji/Twemoji/Twemoji-16.0.1.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --b3-font-family: "MiSans", "Twemoji", "Emojis Additional", "Emojis Reset", BlinkMacSystemFont, Helvetica, "Luxi Sans", "DejaVu Sans", arial, sans-serif, emojis !important;
  --b3-font-family-emoji: "Twemoji", "Emojis Additional", emojis !important;
}

:root:lang(zh_CN) {
  --b3-font-family: "MiSans", "Twemoji", "Emojis Additional", "Emojis Reset", BlinkMacSystemFont, Helvetica, "PingFang SC", "Luxi Sans", "DejaVu Sans", arial, "Microsoft Yahei", "Hiragino Sans GB", "Source Han Sans SC", sans-serif, emojis !important;
}

:root:lang(ar_SA) {
  --b3-font-family: "MiSans", "Twemoji", "Emojis Additional", "Emojis Reset", BlinkMacSystemFont, Helvetica, "Luxi Sans", "DejaVu Sans", arial, sans-serif, emojis !important;
}
